<%= form_with model: @event, url: create_event_path, method: :post do |form| %>
  <div class='card-body'>
    <div class='row'>
      <div class="form-group mb-2">
        <div class='mb-2'>
          <label>User<span class="text-danger">*</span></label>
        </div>
          <% #form.collection_select :user_ids, User.all, :id, :email, { include_blank: "Please select"}, { multiple: true } %>
          <%= form.select :user_id, options_for_select(@users), {prompt: 'Select user'}, required: true, class: "form-select"%>
      </div>
      <div class="form-group">
        <label class="mb-2 mt-3">
          Campaign
          <span class="text-danger">*</span>
        </label>
        <%= form.select :campaign_id, options_for_select(@campaign), {prompt: 'Select campaign'}, required: true, class: "form-select"%>
      </div>
      <div class="form-group">
        <label class="mb-2 mt-3">
          Template
          <span class="text-danger">*</span>
        </label>
        <%= form.select :template_id, options_for_select(@template), {prompt: 'Select template'}, required: true, class: "form-select"%>
      </div>
      <div class="form-group mb-4">
        <label class="mb-2 mt-3">
          Message
          <span class="text-danger">*</span>
        </label>
        <%= form.select :message_id, options_for_select(@message), {prompt: 'Select message'}, required: true, class: "form-select"%>
      </div>
      <div class='col-lg-6'>
        <div class='d-flex justify-content-center'>
          <%= form.submit "Event A", class: "btn btn-primary" %>
        </div>
      </div>
      <div class='col-lg-6'>
        <div class='d-flex justify-content-center'>
          <%= form.submit "Event B", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>